[Unit]
Description=kerneltest
After=network-online.target
Wants=network-online.target

[Service]
Environment=FLASK_DEBUG=1
Environment=PYTHONUNBUFFERED=1
Environment=KERNELTEST_CONFIG=/home/vagrant/kerneltest.cfg
User=root
WorkingDirectory=/home/vagrant/kerneltest
ExecStart=python runserver.py --port 443 --host "0.0.0.0" --cert "/etc/pki/tls/certs/server.pem" --key "/etc/pki/tls/private/server.key"

[Install]
WantedBy=multi-user.target
