---
- name: Install dev packages
  dnf:
    name:
      - python-flask
      - python-flask-wtf
      - python-fedora-flask
      - python-wtforms
      - python-sqlalchemy
      - python-openid
      - python-openid-teams
      - python-openid-cla
      - python-alembic
      - python-toml
      - python-flask-oidc
      - python-pip
      - python-devel
      - poetry

    state: present

- name: copy the config file
  copy:
    src: kerneltest.cfg
    dest: /home/vagrant/kerneltest.cfg
    mode: 0644
    owner: vagrant
    group: vagrant

- name: Create the database
  command: python createdb.py
  environment:
    KERNELTEST_CONFIG: /home/vagrant/kerneltest.cfg
  become: yes
  become_user: vagrant
  args:
    chdir: /home/vagrant/kerneltest

- name: Install the systemd unit files for kerneltest service
  copy:
    src: kerneltest.service
    dest: /etc/systemd/system/kerneltest.service
    mode: 0644

- name: Start kerneltest service using systemd
  systemd:
    state: started
    name: kerneltest
    daemon_reload: yes
    enabled: yes